<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--Oracle数据库连接-->
    <add key="SYS_DAL" value="WMS.SYS.OracleDAL"/>
    <add key="STIM_DAL" value="STIM.OracleDAL"/>
    <!--Oracle数据库连接-->
    <!--<add key="ConnectionString"  value="Data Source=192.168.200.151:1521/orawms;User Id=orawms;Password=orawms;"/>-->
    <add key="ConnectionString" value="Data Source=192.168.0.176:1521/orcl;User Id=orawms;Password=ORAWMS;"/>
  </appSettings>
</configuration>
